<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289864130970-tge92hfnb4qt72q27ls2fdq8oh5921vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289864130970-tge92hfnb4qt72q27ls2fdq8oh5921vm</string>
	<key>API_KEY</key>
	<string>AIzaSyD6cBgYshnMfPwdDQDHy_QOJc0AbJ8YUOE</string>
	<key>GCM_SENDER_ID</key>
	<string>289864130970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BeautyPlace</string>
	<key>PROJECT_ID</key>
	<string>beautyplace-280b4</string>
	<key>STORAGE_BUCKET</key>
	<string>beautyplace-280b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:289864130970:ios:72c949a2142e29531cda23</string>
	<key>DATABASE_URL</key>
	<string>https://beautyplace-280b4-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
